@{
    ViewData["Title"] = "Home Page";
}
@using HallOfFameMVC.Controllers
@using System.Data

<div data-component-theme="portalThemeColor8" class="row sectionBlockLayout" style="padding: 8px; margin: 0px; display: flex; flex-wrap: wrap; min-height: 50%; background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(&quot;https://cdn.hubblecontent.osi.office.net/m365content/publish/3a8bc57b-4210-4d01-a0ac-5a0a4e6c833f/thumbnails/xxlarge.jpg&quot;); background-position: center center; background-repeat: no-repeat; background-size: cover;">
    <div class="container">
        <div class="col-md-12 columnBlockLayout" style="min-width: 250px; flex-grow: 1; display: flex; flex-direction: column; margin: 240px 0px;">
            <h1 style="text-align: center; color:white">Welcome to Hall of Fame</h1>
            <h4 style="text-align: center; color:white">Celebrate Achievements</h4>
        </div>
    </div>
</div>
<div class="mb-3"></div>
@if (ViewData["userDetails"] != null)
{
    DataRow userDetails = ViewData["userDetails"] as DataRow;

    <h2>Current Manager Account Details</h2>

    <table class="table table-warning">
        <thead>
            <tr>
                <th>Account Detail Attributes</th>
                <th>Account Values</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataColumn column in userDetails.Table.Columns)
            {
                <tr>
                    <td>@column.ColumnName</td>
                    <td>@userDetails[column]</td>
                </tr>
            }
        </tbody>
    </table>




<div class="card-group">
    <div class="card">
        <img src="https://images.pexels.com/photos/955389/pexels-photo-955389.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="card-img-top" height="300" alt="Image of a trophy">
        <div class="card-body">
            <h5 class="card-title">Submission</h5>
            <p class="card-text">To submit achievements, please fill out the form on the submission page.</p>
            @if (userDetails.Field<bool>("SubmissionRights") == true)
            {
                    <form method="post" action="@Url.Action("LoadSubmissionPage", "Submission")">
                        <input type="hidden" name="LoginNo" value="@userDetails["LoginNo"]" />
                        <input type="hidden" name="LoginName" value="@userDetails["LoginName"]" />
                        <input type="hidden" name="UserName" value="@userDetails["UserName"]" />
                        <input type="hidden" name="Password" value="@userDetails["Password"]" />
                        <input type="hidden" name="SubmissionRights" value="@userDetails["SubmissionRights"]" />
                        <input type="hidden" name="ReviewRights" value="@userDetails["ReviewRights"]" />
                        <input type="hidden" name="AdminRights" value="@userDetails["AdminRights"]" />
                        <button type="submit" class="btn btn-warning">Create Submission</button>
                    </form>
            }
            else
            {
                <p class="alert alert-danger">You don't have rights for Submission.</p>
            }
        </div>
    </div>
    <div class="card">
        <img src="https://cdn.hubblecontent.osi.office.net/m365content/publish/5c8f6acb-dfdb-4724-ad94-9c9f14f636a0/thumbnails/xxlarge.jpg" alt="Image of a trophy" class="card-img-top" height="300">
        <div class="card-body">
            <h5 class="card-title">Review Submissions</h5>
            <p class="card-text">All submitted records will be displayed on the review page. Check back often to see the latest achievements!</p>
                @if (userDetails.Field<bool>("ReviewRights") == true)
                {
                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("ReviewSubmissionPage", "ReviewSubmission")'">Individual</button>
                    <button type="button" class="btn btn-warning" onclick="location.href='@Url.Action("TeamReviewPage", "TeamSubmission")'">Team</button>
                }
                else
                {
                    <p class="alert alert-danger">You don't have rights for Review.</p>
                }
        </div>
    </div>
    <div class="card">
        <img src="https://cdn.hubblecontent.msit.osi.office.net/m365content/publish/46deb56e-b065-403b-ba54-27aff16b32ad/thumbnails/xxlarge.jpg" alt="Image of a trophy" class="card-img-top" height="300">
        <div class="card-body">
            <h5 class="card-title">Admin Panel</h5>
            <p class="card-text">Admins can manage submissions and oversee the review process.</p>
                @if (userDetails.Field<bool>("AdminRights") == true)
                {
                    <a href="#" class="btn btn-warning">Admin Panel</a>
                }
                else
                {
                    <p class="alert alert-danger">You don't have rights for Admin Panel.</p>
                }
        </div>
    </div>
</div>
}
else
{
    <div class="alert alert-danger">No user details found</div>
}


